In [2]:
import pandas as pd

In [3]:
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}

In [4]:
type(data)

dict

In [5]:
purchases = pd.DataFrame(data)

purchases

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [6]:
type(purchases)

pandas.core.frame.DataFrame

In [7]:
m =purchases['oranges']

In [8]:
type(m)

pandas.core.series.Series

In [9]:
n = purchases[['oranges','apples']]

In [10]:
type(n)

pandas.core.frame.DataFrame

In [11]:
purchases_one = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'])

purchases_one.loc['June']

apples     3
oranges    0
Name: June, dtype: int64

In [12]:
purchases.loc[0]

apples     3
oranges    0
Name: 0, dtype: int64

In [13]:
purchases.columns

Index(['apples', 'oranges'], dtype='object')

In [14]:
movies = pd.read_csv("IMDB_Data.csv", index_col='Title')

In [15]:
movies.head(2)

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0

In [16]:
todos = pd.read_json("https://jsonplaceholder.typicode.com/todos")

In [17]:
todos.head()

   completed  id                                              title  userId
0      False   1                                 delectus aut autem       1
1      False   2                 quis ut nam facilis et officia qui       1
2      False   3                                fugiat veniam minus       1
3       True   4                                   et porro tempora       1
4      False   5  laboriosam mollitia et enim quasi adipisci qui...       1

In [18]:
todos.set_index("id")

     completed                                              title  userId
id
1        False                                 delectus aut autem       1
2        False                 quis ut nam facilis et officia qui       1
3        False                                fugiat veniam minus       1
4         True                                   et porro tempora       1
5        False  laboriosam mollitia et enim quasi adipisci qui...       1
6        False  qui ullam ratione quibusdam voluptatem quia omnis       1
7        False                  illo expedita consequatur quia in       1
8         True                       quo adipisci enim quam ut ab       1
9        False                        molestiae perspiciatis ipsa       1
10        True       illo est ratione doloremque quia maiores aut       1
11        True                        vero rerum temporibus dolor       1
12        True                        ipsa repellendus fugit nisi       1
13       False                                et doloremque nulla       1
14        True     repellendus sunt dolores architecto voluptatum       1
15        True                        ab voluptatum amet voluptas       1
16        True       accusamus eos facilis sint et aut voluptatem       1
17        True                    quo laboriosam deleniti aut qui       1
18       False       dolorum est consequatur ea mollitia in culpa       1
19        True  molestiae ipsa aut voluptatibus pariatur dolor...       1
20        True          ullam nobis libero sapiente ad optio sint       1
21       False  suscipit repellat esse quibusdam voluptatem in...       2
22        True      distinctio vitae autem nihil ut molestias quo       2
23       False  et itaque necessitatibus maxime molestiae qui ...       2
24       False  adipisci non ad dicta qui amet quaerat dolorib...       2
25        True  voluptas quo tenetur perspiciatis explicabo natus       2
26        True                                  aliquam aut quasi       2
27        True                        veritatis pariatur delectus       2
28       False                  nesciunt totam sit blanditiis sit       2
29       False                                laborum aut in quam       2
30        True  nemo perspiciatis repellat ut dolor libero com...       2
..         ...                                                ...     ...
171       True  fugiat aut voluptatibus corrupti deleniti veli...       9
172      False  et provident amet rerum consectetur et voluptatum       9
173      False                              harum ad aperiam quis       9
174      False                                  similique aut quo       9
175       True  laudantium eius officia perferendis provident ...       9
176      False        magni soluta corrupti ut maiores rem quidem       9
177      False  et placeat temporibus voluptas est tempora quo...       9
178       True                    nesciunt itaque commodi tempore       9
179       True  omnis consequuntur cupiditate impedit itaque i...       9
180       True                debitis nisi et dolorem repellat et       9
181      False           ut cupiditate sequi aliquam fuga maiores      10
182       True           inventore saepe cumque et aut illum enim      10
183       True                 omnis nulla eum aliquam distinctio      10
184      False            molestias modi perferendis perspiciatis      10
185      False  voluptates dignissimos sed doloribus animi qua...      10
186      False                              explicabo odio est et      10
187      False                        consequuntur animi possimus      10
188       True                                 vel non beatae est      10
189       True                        culpa eius et voluptatem et      10
190       True  accusamus sint iusto et voluptatem exercitationem      10
191       True  temporibus atque distinctio omnis eius impedit...      10
192      False    ut quas possimus exercitationem sint voluptates      10
193       True  rerum debitis voluptatem qui eveniet tempora d...      10
194      False                          sed ut vero sit molestiae      10
195       True     rerum ex veniam mollitia voluptatibus pariatur      10
196       True                consequuntur aut ut fugit similique      10
197       True                  dignissimos quo nobis earum saepe      10
198       True                       quis eius est sint explicabo      10
199       True                       numquam repellendus a magnam      10
200      False                       ipsam aperiam voluptates qui      10

[200 rows x 3 columns]

In [19]:
todos

     completed   id                                              title  userId
0        False    1                                 delectus aut autem       1
1        False    2                 quis ut nam facilis et officia qui       1
2        False    3                                fugiat veniam minus       1
3         True    4                                   et porro tempora       1
4        False    5  laboriosam mollitia et enim quasi adipisci qui...       1
5        False    6  qui ullam ratione quibusdam voluptatem quia omnis       1
6        False    7                  illo expedita consequatur quia in       1
7         True    8                       quo adipisci enim quam ut ab       1
8        False    9                        molestiae perspiciatis ipsa       1
9         True   10       illo est ratione doloremque quia maiores aut       1
10        True   11                        vero rerum temporibus dolor       1
11        True   12                        ipsa repellendus fugit nisi       1
12       False   13                                et doloremque nulla       1
13        True   14     repellendus sunt dolores architecto voluptatum       1
14        True   15                        ab voluptatum amet voluptas       1
15        True   16       accusamus eos facilis sint et aut voluptatem       1
16        True   17                    quo laboriosam deleniti aut qui       1
17       False   18       dolorum est consequatur ea mollitia in culpa       1
18        True   19  molestiae ipsa aut voluptatibus pariatur dolor...       1
19        True   20          ullam nobis libero sapiente ad optio sint       1
20       False   21  suscipit repellat esse quibusdam voluptatem in...       2
21        True   22      distinctio vitae autem nihil ut molestias quo       2
22       False   23  et itaque necessitatibus maxime molestiae qui ...       2
23       False   24  adipisci non ad dicta qui amet quaerat dolorib...       2
24        True   25  voluptas quo tenetur perspiciatis explicabo natus       2
25        True   26                                  aliquam aut quasi       2
26        True   27                        veritatis pariatur delectus       2
27       False   28                  nesciunt totam sit blanditiis sit       2
28       False   29                                laborum aut in quam       2
29        True   30  nemo perspiciatis repellat ut dolor libero com...       2
..         ...  ...                                                ...     ...
170       True  171  fugiat aut voluptatibus corrupti deleniti veli...       9
171      False  172  et provident amet rerum consectetur et voluptatum       9
172      False  173                              harum ad aperiam quis       9
173      False  174                                  similique aut quo       9
174       True  175  laudantium eius officia perferendis provident ...       9
175      False  176        magni soluta corrupti ut maiores rem quidem       9
176      False  177  et placeat temporibus voluptas est tempora quo...       9
177       True  178                    nesciunt itaque commodi tempore       9
178       True  179  omnis consequuntur cupiditate impedit itaque i...       9
179       True  180                debitis nisi et dolorem repellat et       9
180      False  181           ut cupiditate sequi aliquam fuga maiores      10
181       True  182           inventore saepe cumque et aut illum enim      10
182       True  183                 omnis nulla eum aliquam distinctio      10
183      False  184            molestias modi perferendis perspiciatis      10
184      False  185  voluptates dignissimos sed doloribus animi qua...      10
185      False  186                              explicabo odio est et      10
186      False  187                        consequuntur animi possimus      10
187       True  188                                 vel non beatae est      10
188       True  189                        culpa eius et voluptatem et      10
189       True  190  accusamus sint iusto et voluptatem exercitationem      10
190       True  191  temporibus atque distinctio omnis eius impedit...      10
191      False  192    ut quas possimus exercitationem sint voluptates      10
192       True  193  rerum debitis voluptatem qui eveniet tempora d...      10
193      False  194                          sed ut vero sit molestiae      10
194       True  195     rerum ex veniam mollitia voluptatibus pariatur      10
195       True  196                consequuntur aut ut fugit similique      10
196       True  197                  dignissimos quo nobis earum saepe      10
197       True  198                       quis eius est sint explicabo      10
198       True  199                       numquam repellendus a magnam      10
199      False  200                       ipsam aperiam voluptates qui      10

[200 rows x 4 columns]

In [20]:
import psycopg2 as ps5

In [21]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\edwin\anaconda3\lib\site-packages (2.8.4)

You are using pip version 10.0.1, however version 20.0.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [22]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\edwin\anaconda3\lib\site-packages (2.8.4)

You are using pip version 10.0.1, however version 20.0.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [23]:
conn = ps5.connect(user="postgres",password="123456",host="localhost",dbname="sales_demo")

In [24]:
query = "select * from sales"

In [25]:
cur = conn.cursor()

In [26]:
type(cur)

psycopg2.extensions.cursor

In [27]:
records = cur.execute(query)

In [28]:
movies.head(2)

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0

In [30]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
Rank                  1000 non-null int64
Genre                 1000 non-null object
Description           1000 non-null object
Director              1000 non-null object
Actors                1000 non-null object
Year                  1000 non-null int64
Runtime (Minutes)     1000 non-null int64
Rating                1000 non-null float64
Votes                 1000 non-null int64
Revenue (Millions)    872 non-null float64
Metascore             936 non-null float64
dtypes: float64(3), int64(4), object(4)
memory usage: 93.8+ KB

In [32]:
c = movies.columns

In [34]:
c[0]

'Rank'

In [35]:
c

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [36]:
c[6] = 'RuntimeMinutes'

TypeError: Index does not support mutable operations

In [38]:
movies = pd.read_csv("IMDB_Data.csv", index_col='Title')

In [39]:
movies.columns

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [40]:
movies.shape

(1000, 11)

In [43]:
temp = movies.append(movies)

In [44]:
temp.shape

(2000, 11)

In [52]:
temp = temp.append(temp)

In [53]:
temp.shape

(2000, 11)

In [56]:
movies.drop_duplicates(inplace=True,keep=False)

In [58]:
movies.shape

(1000, 11)

In [65]:
type(movies[['Rank','Actors']])

pandas.core.frame.DataFrame

In [66]:
movies.columns

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [67]:
movies= movies.rename(columns = {'Runtime (Minutes)' : 'RuntimeMinutes', 
                         'Revenue (Millions)' : 'RevenueMillions'})

In [69]:
movies.columns

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'RuntimeMinutes', 'Rating', 'Votes', 'RevenueMillions', 'Metascore'],
      dtype='object')

In [72]:
movies.columns = ['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime', 
                     'rating', 'votes', 'revenue_millions', 'metascore']


movies.columns

Index(['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime',
       'rating', 'votes', 'revenue_millions', 'metascore'],
      dtype='object')

In [80]:
temp_one = movies.copy()

In [81]:
temp_one.shape

(1000, 11)

In [82]:
temp_one.dropna(inplace=True,axis=0)

In [83]:
temp_one.shape

(838, 11)

In [84]:
movies['revenue_millions'].fillna(
    movies['revenue_millions'].mean(),inplace=True)

In [85]:
movies['metascore'].fillna(
    (movies['metascore'].mean()),inplace=True)

In [88]:
movies.isnull().sum()

rank                0
genre               0
description         0
director            0
actors              0
year                0
runtime             0
rating              0
votes               0
revenue_millions    0
metascore           0
dtype: int64

In [101]:
movies['rating'].sort_values(ascending=True).value_counts()

7.1    52
6.7    48
7.0    46
6.3    44
7.3    42
7.2    42
6.6    42
7.8    40
6.5    40
6.8    37
6.2    37
6.4    35
7.5    35
7.4    33
6.9    31
6.1    31
7.7    27
7.6    27
5.8    26
6.0    26
8.1    26
7.9    23
5.7    21
5.9    19
8.0    19
5.6    17
5.5    14
5.3    12
5.4    12
5.2    11
8.2    10
8.3     7
4.9     7
8.5     6
4.7     6
5.1     5
4.6     5
4.8     4
5.0     4
4.3     4
8.4     4
8.6     3
3.9     3
2.7     2
3.7     2
8.8     2
4.2     2
3.5     2
1.9     1
9.0     1
4.1     1
3.2     1
4.4     1
4.5     1
4.0     1
Name: rating, dtype: int64

In [121]:
x = ((movies['rating'] ==5.0) | (movies['rating'] ==9.0))

In [115]:
type(x)

pandas.core.series.Series

In [116]:
movies.corr()

,rank,year,runtime,rating,votes,revenue_millions,metascore
rank,1.000000,-0.261605,-0.221739,-0.219555,-0.283876,-0.252996,-0.185159
year,-0.261605,1.000000,-0.164900,-0.211219,-0.411904,-0.117562,-0.076077
runtime,-0.221739,-0.164900,1.000000,0.392214,0.407062,0.247834,0.202239
rating,-0.219555,-0.211219,0.392214,1.000000,0.511537,0.189527,0.604723
votes,-0.283876,-0.411904,0.407062,0.511537,1.000000,0.607941,0.318116
revenue_millions,-0.252996,-0.117562,0.247834,0.189527,0.607941,1.000000,0.132304
metascore,-0.185159,-0.076077,0.202239,0.604723,0.318116,0.132304,1.000000